body {
    background-color: black;
}
.wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  
.main {
    width: 60%;
    margin-top: 15px;
    background-color: #ad9384;
    right: auto;
    padding: 15px;
    border-radius: 20px;
  }
  
.sidebar {
    width: 200px;
    height: 31vh;
    background-color: #784c3e;
    position: -webkit-sticky;
    position: sticky;
    margin-top: 15px;
    top: 30px;
    left: 30px;
    border-radius: 20px;
    padding: 10px;
  }
.carousel-inner {
    max-height: 400px;
    margin-top: 15px;
}
.carousel-inner img {
  max-height: 400px;
  object-fit: cover;
}
.sidebar .nav-link {
  color: white;
}

.sidebar .nav-link:hover {
  color: aquamarine;
}